.main {
        background-color: rgb(19, 18, 27);
        height: 100vh;
        width: 100vw;
        font-family: 'lexend', Arial, Helvetica, sans-serif;
        color: white;
        position: absolute;
}