.base-button {
        flex: 1;
        position: relative;
        display: inline-block;
        overflow: hidden;

        span {
                position: absolute;
                background-color: #fc2f70;
                transition: transform .3s ease;
        }

        .bottom {
                bottom: 0;
                transform-origin: bottom right;
        }

        .right {
                right: 0;
                transform-origin: top right;
                transition-delay: 0.05s;
        }

        .top {
                top: 0;
                transform-origin: top left;
                transition-delay: 0.15s;
        }

        .left {
                left: 0;
                transform-origin: bottom left;
                transition-delay: 0.25s;
        }

        .bottom,
        .top {
                height: 2px;
                left: 0;
                right: 0;
                transform: scaleX(0);
        }

        .left,
        .right {
                width: 2px;
                top: 0;
                bottom: 0;
                transform: scaleY(0);
        }
}

.button {
        position: relative;
        padding: 10px 20px;
        font-size: .95rem;
        cursor: pointer;
        transition: all 0.3s ease;
        color: #ffffff;
        background-color: #13121b;
        border: 2px solid #b700ff;

        &:hover {

                ~.bottom {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                }

                ~.top {
                        transform-origin: top right;
                        transform: scaleX(1);
                }

                ~.left {
                        transform-origin: top left;
                        transform: scaleY(1);
                }

                ~.right {
                        transform-origin: bottom right;
                        transform: scaleY(1);
                }
        }



}